
@{
    ViewBag.Title = "sequentPay";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
    string _date = DateTime.Now.ToString("yyyy-MM-dd");
}

<h2>Relatório de Pagamentos Consecutivos</h2>

<hr />
<div id="panelInitial" class="panel panel-default">
    <div class="panel-heading"><strong>Parâmetros</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("sequentPayReport", "Report", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="control-label col-xs-2 col-md-2">Data Referencia:</label>
                <div class="col-xs-10 col-md-10">
                    <input id="ipDate" type="date" name="date" value="@_date" class="form-control" />
                </div>
            </div>


            <div style="padding-top:60px" class="form-group">
                <div class="col-xs-offset-2 col-md-offset-8">
                    <button type="submit" class="btn btn-primary">Buscar Dados</button>
                </div>
            </div>
        }
    </div>
</div>


