@{
    PubliAX.Domain.DTO.UserDto loginUser = User.Identity.IsAuthenticated ? ViewData["LoginUser"] as PubliAX.Domain.DTO.UserDto : null;
}

<div class="menu_section">
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="~/Home/index">Pagina Home</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-address-card"></i> Perfil <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="~/Home/profile">Dados do Perfil</a></li>
                <li><a href="~/Home/changePassword">Alteração de Senha</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-handshake-o"></i> Promotor <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                @if (loginUser != null && loginUser.codforn < 0)
                {
                    <li><a href="~/Prov/Relate">Cadastrar</a></li>
                }
                else
                {
                    <li><a href="~/Prov/detail?cod=@loginUser.codforn">Detalhes</a></li>
                    <li><a href="~/Prov/update?cod=@loginUser.codforn">Editar Cadastro</a></li>
                    <li><a href="~/Prov/payments">Pagamentos</a> </li>
                }
            </ul>
        </li>
        @if (loginUser.role != "User")
        {
            <li>
                <a><i class="fa fa-users"></i> Usuários <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Profile/listUser">Lista de Usuários</a></li>
                    <li><a href="~/Profile/blacklist">Lista Negra</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-pie-chart"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Report/sequentPay">Pgtos Consecutivos</a></li>
                </ul>
            </li>
        }
        @if(loginUser.role == "Sys")
        {
            <li>
                <a><i class="fa fa-cogs"></i> Operações Sistêmicas <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Order/Importation">Importação de Pedidos Produção</a></li>
                    <li><a href="~/Report/sequentPay">Relatório de Pagamentos Consecutivos</a></li>
                </ul>
            </li>
        }

    </ul>
</div>
