
@{
    ViewBag.Title = "deleteBlock";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
}

<h3>Você tem certeza que deseja deletar este bloqueio?</h3>
<hr />
<div>
    <h3>@ViewData["BlockValue"]</h3>

    @using (Html.BeginForm("deleteBlockConfirmed", "Profile", new { blockId = ViewData["BlockId"] }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("blacklist")" class="btn btn-primary">Voltar</a>
            <input type="submit" value="Deletar" class="btn btn-danger" />
        </div>
    }
</div>

