
@{
    ViewBag.Title = "welcome";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-4"></div>
        <div class="col-xs-12 col-lg-4">
            <div class="jumbotron" style="margin-top:150px; border:0.5px solid #000000;">
                <div class="text-center" style="margin-bottom:30px;">
                    <h2>Bem Vindo ao Portal Winn</h2>

                    <div class="row">

                        <h3>Seu cadastro foi realizado com sucesso!</h3>
                        <p>

                            <a style="font-size:18px; font-weight:bold;" href="@Url.Action("Index", "Home")">Clique aqui para continuar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
